<div class="container">
    <div class="row">
    <div class="bs-docs-section">
    <h1 id="btn-groups" class="page-header">IDMS Demo Application</h1>
    <div class="segment" id="login" ng-if="!isLoggedIn">
      You are not yet Login<br/>
      Pleasee Login <br/>
      <input type="button"  class="se-btn se-btn-light-green se-btn-normal" value="Login" ng-click="login()"/>&nbsp;&nbsp;&nbsp;
      <input type="button" class="se-btn se-btn-light-green se-btn-normal" value="Registration" ng-click="register()"/><br/>
    </div>
    <div class="segment" id="loggedin" ng-if="isLoggedIn">
      You are Logged in Please Be pateince<br/>
      Personal Information :<br/>
      Name : {{loginUser.given_name}}  {{loginUser.family_name}}<br/>
      Email : {{loginUser.email}}<br/>
      Logout : <input type="button"  class="se-btn se-btn-light-green se-btn-normal" value="LogOut" ng-click="logout()"/>
      Update Profile: <input type="button"  class="se-btn se-btn-light-green se-btn-normal" value="UpdateProfile" ng-click="updateProfile()"/> <br/>
    </div>

</div>
</div>
</div>
